#!/bin/bash

QSTRING="{{ ansible_role_vmlab.qstring }}"
if [ -z "${1}" ]; then 
  BOXNAME="{{ item.value.boxname }}"
  CACHEMODE=unsafe
else 
  HOSTNAME=$(echo $1 | cut -f1 -d.)
  DOMAIN=$(echo $1 | cut -f2- -d.)
  BOXNAME="${HOSTNAME}.${DOMAIN}"
  CACHEMODE=none
fi

if [ -z "${2}" ]; then 
  SUITE=${2}
else
  SUITE=stable
fi

virsh --connect $QSTRING list --all | grep $BOXNAME 
if [ "$?" == 0 ]; then
  virsh --connect $QSTRING destroy $BOXNAME
  virsh --connect $QSTRING undefine $BOXNAME --remove-all-storage
fi

virt-install \
  --connect $QSTRING \
  --memory {{ item.value.memory }} \
  --vcpus {{ item.value.cpu }} \
  --cpu host \
  --disk size={{ item.value.disksize }},pool={{ ansible_role_vmlab.zvol }},bus=virtio,cache=$CACHEMODE \
  --net network={{ item.value.netname }},model=virtio \
  --os-variant {{ item.value.osvariant }} \
  --os-type linux \
  --name "$BOXNAME" \
  --noautoconsole \
  --console pty,target_type=serial \
  --location 'http://{{ item.value.location_host }}/{{ item.value.location_path }}/{{ item.value.installpath }}' \
  --extra-args "{{ item.value.extra_args }} {{ item.value.preseed_url }}"
