#!/bin/bash -x

virt-clone --connect qemu:///system --original base-debian-9 --auto-clone -n $1
virt-sysprep --connect qemu:///system -d $1 --hostname=$1 --root-password password:{{ ansible_role_libvirtd_root_password }} --ssh-inject root:string:"{{ ansible_role_libvirtd_root_sshkey }}" --firstboot-command 'dpkg-reconfigure openssh-server'
virsh --connect qemu:///system start $1
