{% for preseed_host in ansible_role_vmlab_nets.values() %}
<VirtualHost {{ preseed_host.subnet | ipaddr('address') }}:80>
	ServerAdmin webmaster@localhost
	DocumentRoot {{ ansible_role_vmlab.mntpointcontrol }}/public_html/
  <Directory {{ ansible_role_vmlab.mntpointcontrol }}/public_html/>
	Options Indexes FollowSymLinks
	AllowOverride None
	Require all granted
  </Directory>
	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
{% endfor %}

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
